<div class="container">

<h4><%= link_to("Rent more movies", root_path) %></h4>

	<% if !flash[:notice].blank? %>
		<div class="alert alert-warning">
			<strong><%= flash[:notice] %></strong>
		</div>
	<% end %>

<h2>Items List</h2>

<table class="table table-hover table-condensed">
	<% @hash.each do |film, amount| %>
		<tr>
			<td><%= film.title %></td>
			<td><%= film.rental_rate %></td>
			<td><%= amount %></td>
			<td><%= link_to("Add", add_cart_path(film)) %></td>
			<td><%= link_to("Subtract", subtract_cart_path(film)) %></td>
			<td><%= link_to("Remove", delete_cart_path(film)) %></td>
			<td><%= @total = film.rental_rate * amount %></td>
		</tr>
	<% end %>
</table>
<div><%= link_to("Checkout", new_rental_path, class: 'btn btn-info') %></div>
</div>