<div class="container">

	<%  if @customer %>
		<h4><%= @customer.username %></h4>
	<% end %>

	<h3>Items in your cart: </h3>

	<table class="table">
			<% if @film %>
		<td><%= @film.title %></td>
		<td><%= @film.rental_rate %></td>
			<% else %>
		<td><%= @message %></td>
			<% end %>
	</table><br />

	<div>
		<% if @film %>
		<%= link_to("Checkout", checkout_path(@film), :class => 'btn btn-primary') %>
		<% end %>
	</div>

</div>