<div class="container">

	<% if !flash[:notice].blank? %>
		<div class="alert alert-warning">
			<strong><%= flash[:notice] %></strong>
		</div>
	<% end %>

	<h1>Admin Main Menu</h1>

	<ul class="nav">
		<li class="nav-item"><%= link_to("Customers", admin_customers_path) %></li>
		<li><%= link_to("Actors", admin_actors_path, {:onmouseover => ""}) %></li>
		<li><%= link_to("Films", admin_films_path) %></li>
		<li><%= link_to("Logout", admin_access_logout_path) %></li>
	</ul>


</div>
