<% @customers_page = 'Customers Page' #refers in layout/admin.html.erb %>

<h3><%= link_to("Main Menu", admin_main_index_path) %></h3>

<!-- 1st way -->
<!-- <script type="text/javascript">hello("Qa")</script> -->

<!-- 2nd way -->
<%#= javascript_tag ("hello('Qa');") %>

<!-- 3rd way -->
<%#= javascript_tag do %>
	<!-- hello('Qa'); -->
<%# end %>

<!-- 4rth way (sanitize) -->
<!-- escape_javascript() or j() -->
<%#= javascript_tag( "j(hello('Qa'))") ); %>



<h1>Customers index</h1>

<h3><%= link_to("Add new customer", new_admin_address_path, :class => 'action new') %></h3>

<table>
	<tr>
		<th>Full Name</th>
	</tr>

	<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.full_name %></td>
			<!-- 1st way -->
			<td><%#= link_to("Show", 'customer_info/#{customer.customer_id}') %></td>
			<!-- 2nd way -->
			<td><%#= link_to("Show", {:controller => 'customer_info', :id => customer.customer_id }) %></td>
			
			<!-- 3rd way -->
			<td><%= link_to("Show", admin_customer_path(customer), :class => 'action show') %></td>
			<td><%= link_to("Edit", edit_admin_address_path(customer), :class => 'action edit' ) %></td>
			<td><%= link_to("Delete", delete_admin_customer_path(customer), :class => 'action delete') %></td>
		</tr>
	<% end %>

</table>



