<div class="container">
<% @customers_page = 'New Customers Page' #refers in layout/admin.html.erb %>

<ul class="nav">
	<li><%= link_to("Back to Customers", admin_customers_path) %></li>
</ul>

<h1>Customer#new</h1>

<!-- 1st way -->
<%#= form_for(@customer, :url => customer_path, :method => 'post') do |c| %>

<!-- 2nd way -->
<%= form_for [:admin, @customer] do |a| %>
<table>
	<tr>
		<th>First Name</th>
		<td><%= c.text_field(:first_name) %></td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><%= c.text_field(:last_name) %></td>
	</tr>
	<tr>
		<th>Store ID</th>
		<td><%= c.select(:store_id, 1..2) %></td>
	</tr>
	
	<%= a.fields_for @address do |a| %>
	<tr>
		<th>Phone Number</th>
		<td><%= a.text_field :phone %></td>
	</tr>
	<tr>
		<th>Address</th>
		<td><%= a.text_field :address %></td>
	</tr>
	<tr>
		<th>Address 2</th>
		<td><%= a.text_field :address2 %></td>
	</tr>
	<tr>
		<th>District</th>
		<td><%= a.text_field :district %></td>
	</tr>
	<tr>
		<th>City ID</th>
		<td><%= a.number_field :city_id %></td>
	</tr>
	<tr>
		<th>Postal Code</th>
		<td><%= a.text_field :postal_code %></td>
	</tr>
	<% end %>

</table><br />

<%= a.submit %>
<% end %>

</div>