<div class="container">
	
	<% if !flash[:notice].blank? %>
		<div class="alert alert-warning">
			<strong><%= flash[:notice] %></strong>
		</div>
	<% end %>

	<h4>Hi <%= @customer %></h4>
	<h1>Main Menu</h1>

	<ul class="nav">
		<li><%= link_to("Account") %></li>
		<li><%= link_to("Rented Movies", account_films_path(@customer_id)) %></li>
		<li><%= link_to("All Movies") %></li>
		<li><%= link_to("All Actors") %></li>
	</ul>


</div>