<div class="container">
	
	<% if !flash[:notice].blank? %>
		<div class="alert alert-warning">
			<strong><%= flash[:notice] %></strong>
		</div>
	<% end %>

	<h4>Hi <%= @customer %></h4>
	<h1>Main Menu</h1>

	<h4><%= link_to("Cart", cart_index_path) %><span class="badge"><%= @cart_count %></span></h4>
	
	<ul class="nav">
		<li><%= link_to("Account") %></li>
		<li><%= link_to("Rented Movies", account_films_path(@customer_id)) %></li>
		<li><%= link_to("All Movies", root_path) %></li>
		<li><%= link_to("All Actors") %></li>
		<li><%= link_to("Logout", account_access_logout_path) %></li>
	</ul>


</div>