<div class="container">

<ul class="nav">
	<li><%= link_to("Back to Actors", admin_actors_path) %></li>
</ul>


<%= form_for [:admin, @actor] do |a| %>
	<div class="form-group">
		<label> Actor's First Name</label>
		<%= a.text_field(:first_name, class: 'form-control') %>
	</div>
	<div class="form-group">
		<label> Actor's Last Name</label>
		<%= a.text_field(:last_name, class: 'form-control') %>
	</div>
<%= a.submit class: 'btn btn-warning' %>
<% end %>

</div>