<div class="container">

<ul class="nav">
	<li><%= link_to("Back to Actors", admin_actors_path) %></li>
</ul>

<label>Add movies</label><br />
<input type="text" onkeyup="searchMovies(this.value, <%= @actor.actor_id %>)" class="form-control"><br />

<div id="films"></div>

<h3><%= @actor.full_name %> played in <%= @actor_films.count %> movies</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
	
	<% @actor_films.each do |af| %>
		<tr>
			<td><%= af.title %></td>
			<td onclick="unlink(<%= @actor.actor_id %>,<%= af.film_id %>)" class="btn btn-danger btn-sm">Remove</td>
		</tr>
	<% end %>
</table>

</div>