<div class="container">

<% if @customer %>
		<h4>Hi <%= @customer %></h4>
	<% else %>
		<h2>Welcome to Films Rental</h2>
<% end %>

<%= form_tag(root_path, method: :get) do %>
	<div class="form-group">
	  <%= text_field_tag :film_search, nil, class: 'form-control' %>
	</div>
	<div class="form-group">
	  <%= submit_tag 'Search', class: 'btn btn-primary' %>
	</div>
<% end %>


<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>Film Name</th>
		<th>Rent</th>
	</tr>
	<% n = 0 %>
	<% @films.each do |film| %>
		<tr>
			<td><%= n += 1 %></td>
			<td><%= film.title %></td>
			<td><%= link_to("Rent", cart_path(film), :class => 'btn btn-primary') %></td>
		</tr>
	<% end %>
</table>

</div>
