<div class="container">

<% if @customer %>
		<h4>Hi <%= link_to(@customer, account_access_menu_path(@customer)) %></h4>
	<% else %>
		<h2>Welcome to Films Rental</h2>
		<%= link_to("Sign in", account_access_login_path, class: "nav navbar-nav navbar-right") %>
<% end %>

<h4><%= link_to("Cart", cart_index_path) %><span class="badge"><%= @cart_count %></span></h4>

	<% if !flash[:notice].blank? %>
		<div class="alert alert-warning">
			<strong><%= flash[:notice] %></strong>
		</div>
	<% end %>

<select onchange="publicSelectedFilmLetter(this.value)" class="select-styled">
	<option disabled>Select Letter</option>
	<option>A</option>
	<option>B</option>
	<option>C</option>
	<option>D</option>
	<option>E</option>
	<option>F</option>
	<option>G</option>
	<option>H</option>
	<option>I</option>
	<option>J</option>
	<option>K</option>
	<option>L</option>
	<option>M</option>
	<option>N</option>
	<option>O</option>
	<option>P</option>
	<option>Q</option>
	<option>R</option>
	<option>S</option>
	<option>T</option>
	<option>U</option>
	<option>V</option>
	<option>W</option>
	<option>X</option>
	<option>Y</option>
	<option>Z</option>
</select>
<br/><br/>

<input type="text" onkeyup="publicSearchFilms(this.value)" class="form-control" placeholder="Search"><br />

<div id="films"></div>





</div>
